/* Diese CSS-Datei ist relevant für die Anmelde/Registrieren Seiten */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.borderpadding {
  padding: 0px 16px 16px;
  border: 2px solid black;
  border-radius: 25px;
}
form {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
input,
button {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 16px;
}
.col_blue{
  color:#0645AD;
}

@media (max-width: 500px) {
  .borderpadding {
    width: 85%;
  }
}