.b_body{
    background: rgba(151, 110, 223, 0.089);
    
}
.container {
    height: 100vh;
}

.b_table{
    border: 1px solid !important;
}

h3 > a {
    color: #212529 !important;
}
th > a {
    color: #212529 !important;
}