.b_body{
    background: rgb(152,110,223);
    background: linear-gradient(31deg, rgba(152,110,223,0.25674019607843135) 0%, rgba(79,208,184,0.2147233893557423) 91%);
    
}
.container {
    height: 100vh;
}

.b_table{
    border: 1px solid !important;
}