/* Diese CSS-Datei ist relevant für alle Seiten die eine Tabelle haben. */
table {
  table-layout: fixed;
}
th,
td {
  border: 1px solid black;
}
td {
  padding: 2px;
  min-width: 60px;
}
/* Für die Abgerundeten Border!*/
th:first-of-type {
  min-width: 160px;
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}
th {
  background-color: #80ba24;
}
