/* Diese CSS-Datei ist relevant für die training.php Seite. */
.left_align {
  float: left;
  margin-right: 100%;
}
h2 {
  text-align: center;
}
.picture {
  width: 400px;
  height: 150px;
}
.margin_left {
  margin-left: 20px;
}
.margin_right {
  margin-right: 20px;
}
.pre_training {
  text-align: center;
}
.error_ms {
  width: 300px;
}
tr:nth-child(odd) {
  background-color: #80ba2436;
}
tr:nth-child(even) {
  background-color: #80ba240a;
}
th {
  background-color: #80ba24;
  text-align: center;
}
.table_container {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}
td:first-of-type {
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
.heading_container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .heading_container{
    width: 300px;
  }
  .picture{
    width: 200px;
  }
}